<div class="container"> 
    <h1>
      <span>Usuarios</span>
      <button class='btn btn-primary float-right' routerLink="/usuario/new">Nuevo Usuario</button>
    </h1>
    
      <table mdbTable striped="true" class="table table-striped table-responsive-md btn-table">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Perfil</th>
            <th scope="col">Estado Cuenta</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let usuario of usuarios; let i = index">
            <td>{{usuario.username}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellido}}</td>
            <td>{{usuario.perfil}}</td>
            <td>{{usuario.cuentaActiva==1?'Activa':'Inactiva'}}</td>
            <td><button class='btn btn-primary float-right' *ngIf="usuario.cuentaActiva==1" [routerLink]="['/usuario/edit/',usuario.id]">Editar</button></td>
            <td><button class='btn btn-danger float-right' *ngIf="usuario.cuentaActiva==1" (click)="bajarCuenta(usuarios[i],true)">Anular</button>
            <button class='btn btn-success float-right' *ngIf="usuario.cuentaActiva==0" (click)="bajarCuenta(usuarios[i],false)">Habilitar</button></td>
          </tr>
        </tbody>
      </table>
    
</div> 

