  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <h1 class="mt-4">{{publicacion.titulo}}</h1>
        <p class="lead">Publicado por <a href="#">{{publicacion.autor.username}}</a></p>
        <hr>
        <p>Posted on {{publicacion.alta | date:'medium'}}</p>
        <hr>
        <p class="lead">{{publicacion.contenido}}</p>
        <hr>

        <div class="card my-4" *ngIf="isRol('ALUMNO')">
          <h5 class="card-header">Dejar un comentario:</h5>
          <div class="card-body">
            <form #newComment="ngForm" (ngSubmit)="nuevoComent(newComment)">
              <div class="form-group">
                <textarea class="form-control" [(ngModel)]="comentario.contenido" rows="3"
                  id="contenido" name="contenido"></textarea>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="!comentario.contenido">Publicar</button>
            </form>
          </div>
        </div>

      <h5 *ngIf="comentarios && comentarios.length">Comentarios:</h5>
      <h5 *ngIf="!(comentarios && comentarios.length)">Sin comentarios.</h5>          
      <div *ngFor="let com_actual of commentariosSortedBy('alta')">
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0 grey-text">{{ com_actual.alta | date:'medium'  }} - {{ com_actual.autor.username }} </h5>
            {{ com_actual.contenido }}
          </div>
        </div>
      </div>

      </div>

      <div class="col-md-4">

      </div>

    </div>
  </div>