  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{publicacion.titulo}}</h1>
        <!-- Author -->
        <p class="lead">Publicado por <a href="#">{{publicacion.autor.username}}</a></p>
        <hr>
        <!-- Date/Time -->
        <p>Posted on {{publicacion.alta | date:'medium'}}</p>
        <hr>

        <!-- Preview Image -->
        <!--<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
        <hr>-->

        <!-- Post Content -->
        <p class="lead">{{publicacion.contenido}}</p>
        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Dejar un comentario:</h5>
          <div class="card-body">
            <form #newComment="ngForm" (ngSubmit)="nuevoComent(newComment)">
              <div class="form-group">
                <textarea class="form-control" [(ngModel)]="comentario.contenido" rows="3"
                  id="contenido" name="contenido"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Post</button>
            </form>
          </div>
        </div>

      <h5 *ngIf="comentarios && comentarios.length">Comentarios:</h5>
      <h5 *ngIf="!(comentarios && comentarios.length)">Sin comentarios.</h5>          
      <div *ngFor="let com_actual of commentariosSortedBy('alta')">
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0 grey-text">{{ com_actual.alta | date:'medium'  }} - {{ com_actual.autor.username }} </h5>
            {{ com_actual.contenido }}
          </div>
        </div>
      </div>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Acciones</h5>
          <div class="card-body">
            <div class="input-group">
              <!-- <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span> -->
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Side Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div> -->
      </div>

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
