<div class="container content-fill">
  <div class="row" routerLink="home">Atras</div>
  <div class="row">
    <div class="col s12">
      <h1 class="header center ">{{cartelera_actual.titulo}}</h1>
      <h5 class="light center">{{cartelera_actual.descripcion}}</h5>
      <p class="center"> suscribirse </p>
    </div>

    <div class="col s12 m8">
      <!--<billboard-publication-list></billboard-publication-list>-->
    </div>

    <div class="col s12 m6 l4">
      <ul class="collection with-header">
          <li class="collection-header"><h5>Acciones</h5></li>
          <li class="collection-item"><a routerLink="publicacion-new">Nueva Publicación</a></li>
          <!--<li class="collection-item"><span *ngIf="usersSuscribed" class="badge">{{usersSuscribed.length}}</span><a routerLink="suscriptores">Ver suscriptores</a></li>-->
          <!--<li class="collection-item"><a routerLink="administrar_permisos">Administrar permisos</a></li>-->
          <!--<li class="collection-item"><a routerLink="eliminar">Eliminar cartelera </a></li>-->
      </ul>

      <!--<app-billboard-suscribed-list></app-billboard-suscribed-list>-->
    </div>
  </div>

</div>