 <div class="container">

  <div class="row">
    <nav *ngIf="isLoggedIn && cartelera_actual" class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill w-100">
      <div class="container-fluid">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" *ngIf="isRol('DOCENTE') || isRol('ADMINISTRADOR')">
                <button class="btn" type="button" routerLink="publicacion-new">Nueva Publicación</button>
              </a>
            </li>
            <li class="nav-item"></li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page">
                <button class="btn" type="button" *ngIf="!suscription" (click)="suscribirse(true)">Suscribirse</button>
                <button class="btn" type="button" *ngIf="suscription" (click)="suscribirse(false)">Desuscribirse</button>
                </a>
            </li>
            <li class="nav-item"></li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" *ngIf="isRol('DOCENTE') || isRol('ADMINISTRADOR')">
                <button class="btn" type="button" (click)="verSuscriptos(cartelera_actual.id)">Ver Suscriptos</button>
              </a>
            </li>
          </ul>
        </div>
    </nav>
  </div>


  <div class="row">
    <div class="col-sm-12" *ngIf="cartelera_actual">

      <h1 class="mt-4">{{cartelera_actual.titulo}}</h1>
      <p class="lead">Publicado por <a href="#">{{cartelera_actual.autor.username}}</a></p>
      <hr>
      <p>Posted on {{cartelera_actual.alta | date:'medium'}}</p>
      <hr>

      <p class="lead">{{cartelera_actual.descripcion}}</p>
      <hr>
    </div>
   
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="my-4 ml-4">Publicaciones</h3>
        <app-publicacion-list></app-publicacion-list>
      </div>
    </div>
  </div>
</div>