 <div class="container">

  <div class="row">
    <!-- Navbar -->
    <nav *ngIf="isLoggedIn && cartelera_actual" class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill w-100">
      <!-- Container wrapper -->
      <div class="container-fluid">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" *ngIf="isRol('DOCENTE') || isRol('ADMINISTRADOR')">
                <button class="btn" type="button" routerLink="publicacion-new">Nueva Publicación</button>
              </a>
            </li>
            <li class="nav-item"></li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" *ngIf="isRol('ALUMNO')">
                <button class="btn" type="button" *ngIf="!suscription" (click)="suscribirse(true)">Suscribirse</button>
                <button class="btn" type="button" *ngIf="suscription" (click)="suscribirse(false)">Desuscribirse</button>
                </a>
            </li>
            <li class="nav-item"></li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" *ngIf="isRol('DOCENTE') || isRol('ADMINISTRADOR')">
                <button class="btn" type="button" (click)="verSuscriptos(cartelera_actual.id)">Ver Suscriptos</button>
              </a>
            </li>
          </ul>
        </div>
      <!-- </div> -->
    </nav>
  </div>


  <div class="row">
    <!-- Post Content Column -->
    <div class="col-sm-12" *ngIf="cartelera_actual">

      <!-- Title -->
      <h1 class="mt-4">{{cartelera_actual.titulo}}</h1>
      <!-- Author -->
      <p class="lead">Publicado por <a href="#">{{cartelera_actual.autor.username}}</a></p>
      <hr>
      <!-- Date/Time -->
      <p>Posted on {{cartelera_actual.alta | date:'medium'}}</p>
      <hr>

      <!-- Preview Image -->
      <!--<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
      <hr>-->

      <!-- Post Content -->
      <p class="lead">{{cartelera_actual.descripcion}}</p>
      <hr>
    </div>

    <!-- <div class="col-sm-3">

      <div class="card my-3">
        <h5 class="card-header">Acciones</h5>
        <div class="card-body">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" *ngIf="!yaSuscrito()" (click)="suscribirse(true)">Suscribirse</button>
              <button class="btn btn-primary" type="button" *ngIf="yaSuscrito()" (click)="suscribirse(false)">Desuscribirse</button>
              <hr>
              <button class="btn btn-primary" type="button" routerLink="publicacion-new">Nueva Publicación</button>
              <hr>
              <button class="btn btn-primary" type="button" (click)="verSuscriptos(cartelera_actual.id)">Ver Suscriptos</button>
            </span>
          </div>
        </div>
      </div>
    </div> -->
   
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="my-4 ml-4">Publicaciones</h3>
        <app-publicacion-list></app-publicacion-list>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
