<h3 class="my-4 ml-4" *ngIf="publicaciones">Publicaciones</h3>
<div class="row" *ngIf="publicaciones">
  <div class="col-sm-6" *ngFor="let publicacion of publicaciones">
    <div class="card">
      <div class="card-header">{{publicacion.titulo}}</div>
      <div class="card-body">{{publicacion.contenido}}</div>
      <a routerLink="publicacion/{{publicacion.id}}" class="card-link ml-4 mb-2">Ir a publicación</a>
      <div class="card-footer">{{publicacion.ultimaModificacion | date:'medium' }}</div>
    </div>
    <hr>
  </div>
</div>
<div class="row" *ngIf="!publicaciones">
  <h5 class="my-4 ml-4">No hay publicaciones para esta cartelera.</h5>
</div>